data/raw/_kaggle_download/
data/raw/images/
data/raw/masks/
data/processed/

mlruns/
**/mlruns/
mlflow.db
**/mlflow.db

reports/*
!reports/*.png

.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

*.npy
*.h5
*.pt
*.pth
*.pkl
*.zip
